
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {

    display: inline-block;
    width: 23%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;


  }
  
  .card > img {
    align-content: center;
    margin-bottom: .75rem;
    max-width: 100%;
  }
  
  .card-text {
    width:100%;
    text-align: center;
    font-size: 100%;
  }

  .cardimage {
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  body{
    background-image: url("Images/idasg1BG.png");
  }
